<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Envio de mesnajes con socket.io =>  ({{currentUser}})
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item *ngFor="let msg of messages">
      <ion-label>
        <h2>{{msg.user}}</h2>
        <p>{{msg.text}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-item>
        <ion-input [(ngModel)] = "messageText" placeholder="Esribe tu mensaje ..." (Keyup.enter) = "sendMessage()"  ></ion-input>
        <ion-button slot="end" (click)="sendMessage()"  >Enviar</ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-footer>

</ion-content>
